.form_Login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.form_input {
  /* display: block; */
  width: 200px;
  height: 50px;
  /* margin: 10px; */
  margin: 5px auto;
  border-style: solid;
  border-radius: 3px;
  border-color: white;
  text-indent: 10px;
  font-size: 15px;
  color: white;
}

.form_input::placeholder {
  color: white;
  opacity: 0.7;
}

.form_submit {
  border-style: solid;
  border-radius: 3px;
  border-color: white;

  width: 200px;
  height: 30px;

  margin-top: 20px;
}

.form_submit:hover {
  cursor: pointer;
}

.login-mouseOver {
  background-color: whitesmoke;
  color: blue;
}

.login-mouseOut {
  background-color: blue;
  color: white;
}

.socialLogins {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn-socialLogin {
  margin: 0 5px;
  font-size: 15px;

  padding: 5px;
}

.btn-socialLogin:hover {
  cursor: pointer;
}

.btn-createAccount {
  margin: 30px 0px auto;
  display: flex;
}

.btn-createAccount a {
  /* display: inline-block; */
  margin: 0 auto;
}
