.nweetForm {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.form_nweet {
  text-align: center;
}

.inputArea {
  padding-bottom: 10px;
  width: 450px;
  height: fit-content;
  border-style: solid;
  border-radius: 3px;
  border-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_text {
  /* display: block; */
  /* width: 400px; */
  /* height: 50px; */

  box-sizing: border-box;
  /* white-space: pre-wrap;
  overflow: auto;
  word-wrap: break-word; */
  border-style: none;
  font-size: 20px;
  padding: 0 5px 5px 0px;
  margin: 10px 5px 10px 5px;
  width: 420px;
  min-height: 80px;
  height: fit-content;
  resize: none;
}

.input_text::placeholder {
  color: white;
  opacity: 0.85;
}

.attachedImage {
  width: 200px;
  height: fit-content;
}

.btn-cancelImage {
  margin-top: 6px;
  font-size: 14px;
  border-style: solid;
  border-radius: 3px;
  border-color: white;
  width: 25px;
  height: 25px;
}

.input_submit {
  background-color: blue;
  color: white;
  width: 100px;
  height: 30px;
  border-style: solid;
  border-radius: 3px;
  border-color: whitesmoke;
  float: right;

  font-size: 15px;
}

.input_submit:hover {
  cursor: pointer;
}

.submit-mouseOver {
  background-color: whitesmoke;
  color: blue;
}

.submit-mouseOut {
  background-color: blue;
  color: white;
}

.form_bottom {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.label-image {
  width: 28px;
  height: 28px;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
}

.input-image {
  display: none;
}

/* .container-btn_image {
  width: 28px;
  height: 28px;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
} */

.btn_image {
  /* position: relative; */
  margin: 25% auto;
  font-size: 15px;
}
.label-image:hover {
  cursor: pointer;
}

.attachment-Image {
  margin-left: 30px;
  width: 60px;
  height: 60px;
}
